{{NULL_CHECK 'id' 'hbs/swiper/ContactSwiper_1.hbs'}}
<div class='relative'>
  <div id='_BaseSwiper-{{id}}' class='swiper _BaseSwiper'>
    <div id='_BaseSwiper-{{id}}-Navigation' class='_BaseSwiper-Navigation top-1/2 -translate-y-1/2 bg-transparent'>
      <div class='NavBtn PrevBtn ml-[20px]'>
        <img src='/assets/icon/swiper/2309211632_1.svg' alt='' />
      </div>
      <div class='NavBtn NextBtn mr-[20px]'>
        <img src='/assets/icon/swiper/2309211632_2.svg' alt='' />
      </div>
    </div>
    <div class='swiper-wrapper'>
      <!-- 1 -->
      <div class='swiper-slide' data-key='{{index}}'>
        <article class='grid grid-cols-2 gap-[10px]'>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_1.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_2.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_3.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_4.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_5.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_6.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_7.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_8.png' alt='' />
              </div>
            </article>
          </div>
        </article>
      </div>
      <!-- 2 -->
      <div class='swiper-slide' data-key='{{index}}'>
        <article class='grid grid-cols-2 gap-[10px]'>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_9.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_10.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_11.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_12.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_13.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_14.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_15.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_16.png' alt='' />
              </div>
            </article>
          </div>
        </article>
      </div>
      <!-- 3 -->
      <div class='swiper-slide' data-key='{{index}}'>
        <article class='grid grid-cols-2 gap-[10px]'>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_17.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_18.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_19.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_20.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_21.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_22.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_23.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_24.png' alt='' />
              </div>
            </article>
          </div>
        </article>
      </div>
      <!-- 4 -->
      <div class='swiper-slide' data-key='{{index}}'>
        <article class='grid grid-cols-2 gap-[10px]'>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_25.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_26.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_27.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_28.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_29.png' alt='' />
              </div>
            </article>
          </div>
          <div class='bg-white p-[10px_15px]'>
            <article class='CenterCenter'>
              <div>
                <img class='w-[110px] aspect-[110/80]' src='/assets/image/2309261615_30.png' alt='' />
              </div>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>

  {{!--prettier-ignore--}}
  <script>
    window.addEventListener('DOMContentLoaded', (evt) => {
      const navigation = {
        disabledClass: 'Disabled',
        hiddenClass: 'Hidden',
        prevEl: '#_BaseSwiper-{{id}}-Navigation > .PrevBtn',
        nextEl: '#_BaseSwiper-{{id}}-Navigation > .NextBtn',
      };

      const pagination_bullet = {
        el: '#_BaseSwiper-{{id}}-Pagenation',
        type: 'bullets',
        clickable: true,
        modifierClass: 'Pagenation-',
        bulletClass: 'Dot',
        bulletActiveClass: 'On',
        renderBullet: function (index, className) {
          const num = (index + 1).toString().padStart(2, '0');
          return `<div class="${className}"> <div class="Num">${num}</div> <div class="Circle"></div> </div>`;
        },
      };
      
      const pagination_progress = {
        el: '#_BaseSwiper-{{id}}-PagenationProgressbar',
        type: 'progressbar',
        modifierClass: 'Pagenation-',
        progressbarFillClass: 'FillBar',
        renderProgressbar: function (className) {
          return `<div class="${className}"></div>`;
        },
      };
      
      const swiper_option = {
        slidesPerView: 1.2, // 슬라이드의 수가 slidesPerView의 값 2배 이상이어야함. slidesPerView, slidesPerGroup 함께 설정 필요.
        slidesPerGroup: 1,
        spaceBetween: 10,
        loop: false,
        navigation: navigation,
        pagination: pagination_bullet,
        pagination: pagination_progress,
        slidesOffsetBefore: 20,
        slidesOffsetAfter: 20,
        // autoplay: {
        //   delay: 1000,
        //   disableOnInteraction: false,
        // },
        init: false,
        // grabCursor: true,
        breakpoints: {
          1280: {
            slidesPerView: 3,
            spaceBetween: '1.25%',
            allowTouchMove: false,
          },
        }
      };
      
      const update_current_num = () => {
        const el_total = document.querySelector('#_BaseSwiper-{{id}}-PagenationFraction > .total');
        if (!el_total) return;
        
        const slides = document.querySelectorAll('#_BaseSwiper-{{id}} .swiper-slide');
        const real_length = slides.length;
        el_total.textContent = real_length;
        
        const el_current = document.querySelector('#_BaseSwiper-{{id}}-PagenationFraction > .current');
        el_current.textContent = swiper.realIndex + 1;
      };
      
      let swiper = new Swiper('#_BaseSwiper-{{id}}', swiper_option);
      
      swiper.on('init', function () {
        // console.log('init');
        update_current_num();
      });
      
      swiper.on('slideChange', function () {
        // console.log('slideChange');
        update_current_num();
      });
      
      swiper.on('slideChangeTransitionEnd', function () {
        // console.log('slideChangeTransitionEnd');
      });
      
      swiper.on('reachBeginning', function () {
        // console.log('reachBeginning');
      });
      
      swiper.on('reachEnd', function () {
        // console.log('reachEnd');
      });
      
      swiper.init();
    });
  </script>
</div>